# =========================
# Node.js / Vite
# =========================

**/node_modules/
**/.vite/
**/dist/


# =========================
# Java / Maven / Gradle
# =========================

**/target/
**/build/


# =========================
# Environment variables
# =========================

**/.env
**/.env.*
!**/.env.example


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# IDE
# =========================

.vscode/
.idea/
*.iml
.classpath
.project
.settings/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db